.container{
    width: 750px;
    height: 829px;
    margin: auto;
    border-radius: 20px;
    background-image: linear-gradient(180deg, #25167c 20%, #523cce 100%);
}
.top-bar{
    display: flex;
    justify-content: center;
    gap: 15px;
    padding-top: 60px;
}
.top-bar input{
    display: flex;
    width: 400px;
    height: 78px;
    background: #dbf0ed;
    border-radius: 30px;
    font-size: 26px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
}